@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url(main/base.css);
.select-box {
  position: relative;
  width: 450px;
  margin: 50px auto 0;
  z-index: 9; }
  .select-box::after {
    content: '';
    display: block;
    width: calc(100% - 4px);
    height: 46px;
    border: 2px solid #FFFFFF;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: -2px; }
  .select-box input {
    display: none; }
  .select-box .list-btn {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 46px;
    cursor: pointer; }
  .select-box .select-wrap {
    -webkit-box-shadow: 0 1px 10px rgba(68, 68, 68, 0.3);
    -ms-box-shadow: 0 1px 10px rgba(68, 68, 68, 0.3);
    -o-box-shadow: 0 1px 10px rgba(68, 68, 68, 0.3);
    box-shadow: 0 1px 10px rgba(68, 68, 68, 0.3);
    position: relative;
    z-index: 3; }
  .select-box .select-option, .select-box .placeholder {
    position: relative;
    display: block;
    width: 100%;
    z-index: 1;
    line-height: 46px;
    padding: 0 10px;
    cursor: pointer;
    background: #FFFFFF;
    display: none;
    -webkit-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear; }
  .select-box .list-arrow {
    display: inline-block;
    position: absolute;
    top: 21px;
    right: 15px;
    z-index: 1.6;
    pointer-events: none;
    z-index: 9;
    display: block;
    height: 0;
    width: 0;
    border-top: 10px solid #444444;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .select-box .placeholder {
    display: block;
    background: rgba(255, 255, 255, 0.7); }
  .select-box .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1; }
  .select-box input[type="radio"]:not(:checked) + .select-option:hover {
    background: #eee; }
  .select-box #placeholder:checked + .placeholder {
    margin-bottom: 10px;
    background: #FFFFFF; }
  .select-box #placeholder:checked ~ .list-arrow {
    -webkit-transform: translateY(-2px) scaleY(-1);
        -ms-transform: translateY(-2px) scaleY(-1);
            transform: translateY(-2px) scaleY(-1); }
  .select-box #placeholder:checked ~ .select-wrap {
    max-height: 460px;
    overflow-y: scroll; }
    .select-box #placeholder:checked ~ .select-wrap .select-option {
      display: block; }
  .select-box #placeholder:checked ~ .overlay {
    display: block; }

body {
  background: #eeeeee;
  color: #444444;
  min-width: 640px; }
  body .wrapper {
    max-width: 1024px;
    margin: 0 auto; }

.header {
  background: url(../images/main_bg.png) no-repeat 50% 0;
  background-size: 1024px auto;
  padding: 90px 0 0;
  height: calc(350px - 90px); }
  .header h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px; }

.container {
  margin-top: -30px;
  min-height: calc(100vh - 350px - 96px); }

.tags-box {
  width: 620px;
  margin: 0 auto;
  padding: 20px 50px;
  background: #FFFFFF;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px rgba(68, 68, 68, 0.2);
  -ms-box-shadow: 0 1px 3px rgba(68, 68, 68, 0.2);
  -o-box-shadow: 0 1px 3px rgba(68, 68, 68, 0.2);
  box-shadow: 0 1px 3px rgba(68, 68, 68, 0.2); }
  .tags-box h2 {
    font-size: 18px;
    letter-spacing: 1px; }
  .tags-box .tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 15px; }
    .tags-box .tags button {
      width: 130px;
      line-height: 42px;
      text-align: center;
      color: #FFFFFF;
      font-size: 16px;
      border: 0;
      cursor: pointer;
      border-radius: 5px;
      -webkit-transition: all 0.15s linear;
      -o-transition: all 0.15s linear;
      transition: all 0.15s linear; }
      .tags-box .tags button:hover {
        opacity: .8; }

._purple {
  background: #8a82cc; }

._orange {
  background: #ffa782; }

._yellow {
  background: #f5d005; }

._blue {
  background: #559ac8; }

.scroll-line {
  position: relative;
  width: 90%;
  height: 1px;
  background: url(../images/icon_line.png) repeat-x 50% 50%;
  margin: 40px auto;
  text-align: center; }
  .scroll-line span {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    color: #559AC8;
    background: #eee;
    padding: 5px;
    cursor: default;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
        -ms-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg); }

.card-wrap {
  padding: 0 20px; }
  .card-wrap .card-title {
    font-size: 28px;
    text-align: center;
    color: #8A82CC;
    letter-spacing: 2px;
    margin-bottom: 30px; }
  .card-wrap .card-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
  .card-wrap .card-item {
    width: 48.5%;
    background: #FFFFFF;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 1px 3px rgba(68, 68, 68, 0.2);
    -ms-box-shadow: 0 1px 3px rgba(68, 68, 68, 0.2);
    -o-box-shadow: 0 1px 3px rgba(68, 68, 68, 0.2);
    box-shadow: 0 1px 3px rgba(68, 68, 68, 0.2); }
  .card-wrap .card-img {
    height: 160px;
    overflow: hidden;
    position: relative; }
    .card-wrap .card-img img {
      width: 100.1%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform-origin: center;
          -ms-transform-origin: center;
              transform-origin: center;
      z-index: 1;
      -webkit-transition: all 0.25s ease-in;
      -o-transition: all 0.25s ease-in;
      transition: all 0.25s ease-in; }
    .card-wrap .card-img:hover img {
      -webkit-transform: translate(-50%, -50%) scale(1.1);
          -ms-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1); }
  .card-wrap .card-txt {
    width: calc(100% - 20px);
    padding: 10px;
    color: #FFFFFF;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-shadow: 0 1px 2px #444444; }
    .card-wrap .card-txt .zone {
      font-size: 15px; }
  .card-wrap .card-cont {
    padding: 10px;
    color: #000;
    font-size: 15px;
    position: relative; }
    .card-wrap .card-cont p {
      line-height: 2; }
    .card-wrap .card-cont a {
      color: #000; }
    .card-wrap .card-cont i {
      -webkit-transform: translateY(24%);
          -ms-transform: translateY(24%);
              transform: translateY(24%);
      margin-right: 5px;
      font-size: 20px; }
    .card-wrap .card-cont .ticketinfo {
      position: absolute;
      right: 10px;
      bottom: 10px;
      max-width: 182px;
      text-align: right; }
    .card-wrap .card-cont .opentime i {
      color: #8A82CC; }
    .card-wrap .card-cont .add i {
      color: #f5a623;
      font-size: 24px;
      margin: 0 3px 0 -2px; }
    .card-wrap .card-cont .tel i {
      color: #559AC8; }
    .card-wrap .card-cont .ticketinfo i {
      color: #F5D005; }

.page-list {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px; }
  .page-list a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40px;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
    padding: 0;
    border: 1px solid rgba(85, 154, 200, 0.5);
    background: rgba(255, 255, 255, 0.5);
    color: #666;
    -webkit-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s; }
    .page-list a + a {
      border-left: 0; }
    .page-list a.active, .page-list a:hover {
      color: #FFFFFF;
      background: #559AC8; }
    .page-list a.off {
      color: rgba(68, 68, 68, 0.4);
      background: #EEE;
      border-color: rgba(68, 68, 68, 0.2);
      cursor: default; }
    .page-list a:first-child {
      width: 60px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .page-list a:last-child {
      width: 60px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }

.footer {
  background: #559AC8;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  line-height: 2;
  padding: 20px 0;
  margin-top: 30px; }
  .footer a {
    color: #F5D005; }

#scroll-top {
  width: 36px;
  height: 36px;
  background: rgba(85, 154, 200, 0.8);
  text-align: center;
  position: fixed;
  bottom: 195px;
  right: 50%;
  margin-right: -512px;
  z-index: 2;
  cursor: default;
  opacity: 0;
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear; }
  #scroll-top:hover {
    background: #559AC8; }
  #scroll-top i {
    display: block;
    color: #FFFFFF;
    font-size: 25px;
    margin-top: -4px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    #scroll-top i + i {
      margin-top: 4px; }
  #scroll-top.is-active {
    opacity: 1;
    cursor: pointer; }
